body{
	background-image:url('back.jpg');
	font-family: MarkerFeltThin;
}

#mynav{
	height:120px;
	background-image:url('backnav.jpg');
}

#navtext{
	font-size: 25px;
	color: #ffbb00;
	margin-top: 30px;
}

#navtext:hover{
	font-size: 25px;
	color: white;
	margin-top: 30px;
}


#navtextend{
	font-size: 25px;
	color: #ffbb00;
	margin-top: 30px;
	margin-right: 25%;
}

#navtextend:hover{
	font-size: 25px;
	color: white;
	margin-top: 30px;
	margin-right: 25%;
}


#logo{
	width: 120px;
	height: auto;
	margin-top: 12px;
	margin-left: 10px;
}


#parallax1{
	width: 100%;
	height: auto;
}

#content{
	margin-left:10%;
	margin-right:10%;
	margin-top: 3%;
	margin-bottom: 3%;
}

#pubtext{
	color: #ffbb00;
	-webkit-text-shadow:2px 2px 2px black,-2px -2px 2px black,-2px 2px 2px black;
	-moz-text-shadow:2px 2px 2px black,-2px -2px 2px black,-2px 2px 2px black;
	text-shadow:2px 2px 2px black,-2px -2px 2px black,-2px 2px 2px black;
}

#pubtext2{
	color: white;
	-webkit-text-shadow:2px 2px 2px black,-2px -2px 2px black,-2px 2px 2px black;
	-moz-text-shadow:2px 2px 2px black,-2px -2px 2px black,-2px 2px 2px black;
	text-shadow:2px 2px 2px black,-2px -2px 2px black,-2px 2px 2px black;
}

#content1{
	margin: 8%;
}

#cardback{
	background-color: rgba(0,0,0,0.5);
	border: 2px solid black;
	border-radius: 30px 30px 0px 0px;
	-webkit-border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
}

#cardback:hover{
	background-color: rgba(0,0,0,0.5);
	border: 2px solid black;
	border-radius: 30px 30px 0px 0px;
	-webkit-border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
	box-shadow: 2px 2px 2px 2px #ffbb00;
	-webkit-box-shadow: 2px 2px 2px 2px #ffbb00;
	-moz-box-shadow: 2px 2px 2px 2px #ffbb00;
}

#titlecard{
	color: #ffbb00;
	font-size: 25px;
}

#titlecard:hover{
	color: white;
	font-size: 25px;
}

#textparallax{
	text-align: center;
	font-size: 40px;
	color: #ffbb00;
	-webkit-text-shadow:2px 2px 2px black,-2px -2px 2px black,-2px 2px 2px black;
	-moz-text-shadow:2px 2px 2px black,-2px -2px 2px black,-2px 2px 2px black;
	text-shadow:2px 2px 2px black,-2px -2px 2px black,-2px 2px 2px black;
}

#franja{
	background-color: black;
	width: 70%;
	height: 3px;
	margin-top: -3%;
}

#cardback2{
	background-color: rgba(0,0,0,0.4);
	border: 2px solid black;
}

#cardback2:hover{
	background-color: rgba(0,0,0,0.4);
	border: 2px solid black;
	box-shadow: 2px 2px 2px 2px #ffbb00;
	-webkit-box-shadow: 2px 2px 2px 2px #ffbb00;
	-moz-box-shadow: 2px 2px 2px 2px #ffbb00;
}


#panelcard{
	background-color: black;
	color: #ffbb00;
	opacity: 0.8;
}

#cardtext{
	color: #ffbb00;
}

#cardtext:hover{
	color: white;
}

#footer{
	background-image: url(backfooter.jpg);
}

#footertext{
	color: white;
}

#footertext2{
	color: white;
}

#footertext2:hover{
	color: #ffbb00;
}

#card3{
	background-color:rgba(0,0,0,0.8);
	border-radius: 40px 40px 0px 0px;
	-webkit-border-radius: 40px 40px 0px 0px;
	-moz-border-radius: 40px 40px 0px 0px;
}

#wtext{
	color: white;
	font-size: 30px;
}

#wtext2{
	color: white;
	font-size: 25px;
	text-align: justify;
}

#card4{
	background-color:rgba(0,0,0,0.8);
	border-radius: 0px 0px 40px 40px;
	-webkit-border-radius: 0px 0px 40px 40px;
	-moz-border-radius: 0px 0px 40px 40px;
}

#button{
	margin-top: 2%;
	border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	border: 1px solid #ffbb00;
	background-color: black;
}

#mapa{
	background-color: black
}

#menucard{
	border:2px solid #ffbb00;
}

#descard{
	border:2px solid #ffbb00;
	padding: 3%;
	background-color: rgba(0,0,0,0.8);
	border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
}

#pickcard{
	border:2px solid #ffbb00;
	padding: 3%;
	background-color: rgba(255,255,255,1);
	border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
}